
.container {
    display: grid;
    grid-template-rows: 91vh 10vh;
    grid-template-columns: 100%;
    grid-template-areas: 
        "section"
        "nav";
    
    section {
        color: red;
        overflow: scroll;
    }

    nav {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr;
        border-top: 2px black solid;
        
        button {
            font-size: 1rem;
        }
    }
}

