
.container {
    display: grid;
    grid-template-rows: 91vh 10vh;
    grid-template-columns: 100%;
    grid-template-areas: 
        "section"
        "nav";
    
    section {
        overflow: scroll;
        display: grid;
        padding-top: 5%;
        padding-left: 10%;
        padding-right: 10%;
        grid-gap: 5%;

        .card {
            height: auto;
            border-radius: 20px;
            border: 2px solid black;
        
            .card-title {
                text-align: center;
                padding-top: 5%;
                padding-bottom: 2%
            }

            .card-subTitle {
                text-align: center;
                text-transform: capitalize;
                padding-bottom: 2%;
                color: gray;
            }

            .card-image {
                width: 100%;
                border-radius: 20px;
            }
        }
    }

    .list-container {
        list-style: none;
        display: grid;
        grid-template-columns: 50% 50%;
        text-align: center;
        // .list-item {
           
        // }
    }

    nav {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr;
        border-top: 2px black solid;
        
        button {
            font-size: 1rem;
        }
    }
}

